// =========== TRIP DETAIL PAGE ===============
.trip-detail-page {

    // ----------- trip detail section -------------
    .trip-detail {
        width: 100%;
        padding-right: 45px;
        padding-left: 45px;
        margin-top: 30px;
        margin-bottom: 30px;

        .row {
            padding-top: 10px;
        }

        .row > * {
            padding-right: 5px;
            padding-left: 5px;
        }
        .trip-card-image {
            min-width: 100%;
            min-height: 300px;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    
        .card-body {
            background-color: #e3e3e3;

            .card-title{
                div {
                    color: #89bdd3;
                }
            }
            .card-text {
                div {
                    color: #89bdd3;
                }
                p {
                    margin-bottom: 12px;
                }
            }
            .card-user{
                margin-top: 12px;
            }
        }

        .card-description {
            background-color: #e3e3e3;
            padding: 1.25rem;
            div {
                color: #89bdd3;
            }
            p {
                margin-bottom: 0;
            }
        }
    }

    // ----------- trackpoint detail section -------------

    .card {
        height: 300px;
        border: none; 

        .card-img-top {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 200px;
            border: none; 
        }

        .card-body {
           padding: 0;
            h5 {
                margin-top: .2px;
                margin-bottom: .2px; 
            }
            p {
                font-size: 14px;
                margin: 0
            }

           .card-text {
            height: 30px;
            margin: 0;
            }
        }
    }

    
}