// =========== TRIP DETAIL PAGE
.trip-detail-page {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .container {
        
        .detail-container {
            display: flex;
            
            .trip-card-image {
                width: 60%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border: none;   
            }
    
            .card-body {
                padding-bottom: 0;
                h5 {
                    color: grey;
                }
                .distance-container {
                    display: flex;
                    p {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}