// ========================= MY TRIPS PAGE ===============
.my-trips-page {

    .top-my-trips-page {
        position: relative;
        height: 80px;
        margin-bottom: 40px;

        .my-trips-background{
            display: flex;
            align-items: flex-end; 
            justify-content: center;
            height: calc(100% + 60px);
            width: 100%;
            position: absolute;
            top: -60px;
            z-index: -1;
            background-color: #e3e3e3;
           
            h2  { 
                color: #89bdd3;

                text-align: center;
                font-size: 4rem;
                line-height: 0.8;
                margin-bottom: 0
            }
        }
    }

    .my-trips-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    

    td {
        cursor: pointer;
    }

    .button-container {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .btn-blue {
        color: #fff;
        background-color: #89bdd3;
        border-color: #89bdd3;
        text-align: center;
        vertical-align: middle;
        border-radius: .25rem;
        padding: .375rem .75rem;
        display: inline-block;
        border: 1px solid transparent;
        &:hover {
            background-color: #6795a8;
        }
    }

    .btn-secondary {
        margin-right: 10px;
    }

}