body {
  font-family: 'Open Sans', sans-serif;
}
footer {
	width: 100%;
	background: #e2e2e2;
	padding: 5px 0;
}
.AppLoader {
	text-align: center;
}

.nav-link {
	color: white!important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
	border: none;
}

.black-text {
	a {
		color: black!important;
	}
}