.a {
  text-decoration: none;
}

.body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
}
