// ========================== HOME PAGE ===========================

// =========== LANDING SECTION
.landing-container {
  height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 110px;

  a {
    text-decoration: none;
  }

  .video-container {
    width: 100%;
    height: calc(100% + 60px);
    position: absolute;
    top: -60px;
    left: 0;
    z-index: -1;
    overflow: hidden;
    color: #e3e3e3;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
    }
  
    .filter {
      background-image: linear-gradient(to bottom, rgba(0, 108, 120, 0.2), rgba(0, 108, 120, 0.2));
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .title-container {
      position: relative;
      width: 100%;
      padding: 50px;
      text-align: center;
      
      h1 {
        margin: 50px;
      }
      h2 {
        margin-left: 100px;
        margin-right: 100px;
      }
    }
  }

  .search-homepage {
    background-color: white;
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: -20px;
    padding: 50px 40px 30px 40px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
      
    .btn-outline-info {
      color: #006c78;
      border-color: #006c78;
    }
  }
}

.btn {
  &:hover {
    color: white!important;
    border-color: white!important;
  }
}


// ======== CAROUSEL SECTION
.homepage-carousel {
  height: 600px;
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 100px;

  .left-section {
    height: 100%;
    width: 30%;
    background-color: #e3e3e3;
  }

  .c-carousel {
    position: absolute;
    top: 16%;
    left: 20%;
    right: 10%;

    .carousel-image {
      min-width: 100%;
      height: 400px;
    }

    .carousel-caption {
      height: fit-content;
      bottom: 0;
      top: 60%;
        a {
          color: #e3e3e3;
          cursor: pointer;
        }
    }

    .carousel-control-next {
      left: -15%;
      opacity: 1;
      .carousel-control-next-icon {
        width: 25px;
        height: 25px;
        color: #e3e3e3;
      }
    }
    .carousel-control-prev {
      left: -25%;
      opacity: 1;
      .carousel-control-prev-icon {
        width: 25px;
        height: 25px;
        color: #e3e3e3;
      }
    }

  }
}


// ========= CATEGORIES SECTION

.category-container {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 50px;

  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.card {
  
  &:hover {
    cursor: pointer;
  }

  &.category-image {
    border:none;
    justify-content: center; 
    h3 {
      color: white;
      text-align: center;
    }
  }
}

.category-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  border: none; 
}


.highlighted-places-container {
  height: 500px;
  min-width: 100%;
}


// ========= GLOBE SECTION ======
.globe-section {
  margin-top: 50px;
  margin-bottom: 100px;

  .cesium-viewer-bottom {
    display: none;
  }
  .cesium-infoBox-camera {
    display: none;
  }
  .cesium-infoBox-visible {
    display: none;
  }
  
  .trips-globe {
    position: relative;

    .selected-trackpoint-container {
      position: absolute;
      right: 40px;
      top: 40px;
      min-height: 200px;
      min-width: 200px;
      max-height: 350px;
      max-width: 300px;
      background-color: #e3e3e3;
      border-width: 1px;
      border-radius: 10px;
      padding: 20px;
      cursor: pointer;

      .description-container {
        max-height: 100px;
        overflow: auto;
      }

      .image-container {
        display: flex;
        justify-content: center;
        overflow: auto;
        img {
          max-height: 150px;
        }
      }
    }

    .cesium-viewer-toolbar{
      right: 40px;

      input {
        background-color: #e3e3e3;
        color: black;
      }

      .cesium-geocoder-searchButton {
        background-color: #1e5564;
      }

      .search-results {
        z-index: 9999999;
        background-color: #e3e3e3;
        color: black;
      }
    }
  }
}

// ==================== SECTIONS TITLE ========================
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  h2 {
    margin-bottom: 15px;
  }
}

